option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: moviereviews.wsgi:application

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "moviereviews.settings"
    SECRET_KEY: "django-insecure-z4=lhf2zp_l!&&p)&r0&!pn#r1a*!@kca4ckk**^qm72b#ffm5"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"

  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced

packages:
  yum:
    unixODBC: []
    gcc: []
    gcc-c++: []
    python3-devel: []
    unixODBC-devel: []
    libffi-devel: []
    freetds: []
    msodbcsql17: https://packages.microsoft.com/rhel/7/prod/msodbcsql17-17.9.1.1-1.x86_64.rpm
