option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: moviereviews.wsgi:application

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "moviereviews.settings"
    SECRET_KEY: "django-insecure-z4=lhf2zp_l!&&p)&r0&!pn#r1a*!@kca4ckk**^qm72b#ffm5"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"

  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced

packages:
  yum:
    unixODBC: []
    gcc: []
    gcc-c++: []
    python3-devel: []
    unixODBC-devel: []
    libffi-devel: []
    freetds: []

commands:
  01_import_microsoft_key:
    command: "rpm --import https://packages.microsoft.com/keys/microsoft.asc"
  02_add_repo:
    command: "curl https://packages.microsoft.com/config/rhel/8/prod.repo > /etc/yum.repos.d/mssql-release.repo"
  03_install_msodbcsql18:
    command: "ACCEPT_EULA=Y yum install -y msodbcsql18"